<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
    <DataCollectionRunSettings>
        <DataCollectors>
            <DataCollector friendlyName="Code Coverage">
                <Configuration>
                    <Option Name="IncludeUninstrumentedCode" Value="true" />
                    <!--<Option Name="ExcludeFromCodeCoverage"> */**/*.g.cs </Option>-->
                </Configuration>
            </DataCollector>
        </DataCollectors>
    </DataCollectionRunSettings>
</RunSettings>
